<!--create.ejs-->
<h2 id="content">Contact Information</h2>
<form action="/cv/addContact/<%= cv.id %>" method="post">
    <div class="col-9">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" name="name" id="name" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Mobile Number</label>
            <div class="control">
                <input class="input" type="text" name="mobile" id="mobile" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Email address</label>
            <div class="control">
                <input class="input" type="email" name="email" id="email" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Objective</label>
            <div class="control">
                <textarea class="textarea" placeholder="Introduce yourself briefly" type="text" name="ps" rows="3" value=""
                    required></textarea>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="control">
                <button class="button is-link" type="submit">Save</button>
            </div>
        </div>
        <div class="col-md-4 ms-auto">
            <div class="control">
                <a class="button is-link" href="http://localhost:1337/cv/addEdu/<%= cv.id %>">Skip</a>
            </div>
        </div>
    </div>

</form>