<div class="row justify-content-between">
    <div class="col-6">
        <h2 id="content">Work/Internship Experience</h2>
    </div>
    <div class="col-6">
        <input type="button" value="addone" onclick="add()">
    </div>
</div>
<form action="/cv/addWork/<%= cv.id %>" method="post">
    <div class="col-9">
        <div id="workFields" class="workFields">
            <div class="field">
                <label class="label">Organization</label>
                <div class="control">
                    <input class="input" type="text" name="org" id="org" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Position</label>
                <div class="control">
                    <input class="input" type="text" name="position" id="position" required>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-4">
                    <label class="label">Start Time</label>
                    <div class="control">
                        <input class="input" type="date" name="sTime" id="sTime" required>
                    </div>
                </div>
                <div class="col-4">
                    <label class="label">End Time</label>
                    <div class="control">
                        <input class="input" type="date" name="eTime" id="eTime" required>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Please describe the experience" type="text" name="description"
                        rows="5"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div id="workFields_placeholder">
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="control">
                    <button class="button is-link" type="submit">Save</button>
                </div>
            </div>

            <div class="col-md-4 ms-auto">
                <div class="control">
                    <a class="button is-link" href="http://localhost:1337/cv/addActivity/<%= cv.id %>">Skip</a>
                </div>
            </div>

        </div>
    </div>
</form>

<script>
    var addone = "org:" + document.getElementById("org") + "position:" + document.getElementById("position") + "sTime:" + document.getElementById("sTime") + "eTime:" + document.getElementById("eTime:") + "description:" + document.getElementById("description");
    function add() {
        let fields = document.getElementById('workFields');
        let workFields_placeholder = document.getElementById('workFields_placeholder');
        //$('.eduField').append(addone);
        workFields_placeholder.innerHTML += fields.innerHTML;
    }
</script>