<h2>Change Password</h2>
<form action="/changePW/<%= user.id %>" method="post">

    <div class="col-9">
        <div class="field">
            <label class="label">
                <%= user.id %>
            </label>
            <div class="control">
                <input class="input" type="text" name="password" id="password" required>
            </div>
        </div>

        <div class="col-md-4">
            <div class="control">
                <button class="button" type="submit">Save</button>
            </div>
        </div>


    </div>



</form>