<table class='table is-bordered is-striped is-hoverable is-fullwidth'>
    <% users.forEach( function(user){ %>
        <tr>
            <td>
                <%= user.email %></td>
            <td>
                <%= user.username %></td>
            <td><a class='button' href="http://localhost:1337/changePW/<%= user.id %>">Change Password</a></td>
               
    
            <td><button href="" onclick="if (confirm('Delete it?')) { location.assign('http://localhost:1337/admin/delete/<%= user.id %>'); }">Delete user</button></td>
        </tr>


        <% }); %>
</table>
<script>
    function myFunction() {
        if (confirm("Delete it?") == true) {
            alert("Delete successfully.");
        } else {
            alert("Action canceled");
        }

    }
</script>