<div class="content user-login w-100">
    <h1>How to use this system?</h1>
    <div class="row">

        <div class="col-4 col-12-medium">
            <h3>Register / Login </h3>
            <p>Create your own account to experience our service.</p>
            <p>Your CV will be stored with your account.</p>
        </div>
        <div class="col-4 col-12-medium">
            <h3>Create CV</h3>
            <p>Click the create button on the navigation bar to start your CV. Give your CV a name and then click create. Our system will lead you to the next step.</p>
            <p>What you need to do is to follow to instruction and inputting your information for the CV.</p>
          
        </div>
        <div class="col-4 col-12-medium">
            <h3>Invite others to view</h3>
            <p>After creation, your CV is default to be private, you need to change the status of the CV to be public. Then, you can copy the link of your CV and invite others to view.</p>
        </div>
    </div>
</div>