<div id="wrapper">
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="#intro" class="active">Introduction</a></li>
            <li><a href="#first">Writting Skills</a></li>
            <li><a href="#second">Examples</a></li>
            <li><a href="#cta">Common Mistakes</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">


        <!-- Introduction -->
        <section id="intro" class="main">
            <div class="major">

                <header class="major">
                    <h2>Introduction</h2>
                </header>
                <div class="content">
                    <p>A CV, which stands for curriculum vitae, is a document used when applying for jobs. It allows you
                        to summarise your education, skills and experience enabling you to successfully sell your
                        abilities to potential employers. Alongside your CV employers also usually ask for a cover
                        letter.
                    </p>
                    <p>A standard CV in the UK should be no longer than two sides of A4. A new graduate with minimal
                        experience may only need to use one side of A4. </p>
                    <p>Stick to relevant information and don't repeat what you've said in your cover letter. </p>
                </div>
                <h3>What to include in a CV</h3>
                <ul class="statistics">
                    <li class="style1">
                        <span class="icon solid fa-code-branch"></span>
                        <strong>Contact details</strong>
                    </li>
                    <li class="style2">
                        <span class="icon fa-folder-open"></span>
                        <strong>Education</strong> 
                    </li>
                    <li class="style3">
                        <span class="icon solid fa-signal"></span>
                        <strong>Work experience </strong>
                    </li>
                    <li class="style4">
                        <span class="icon solid fa-laptop"></span>
                        <strong>Skills and achievements</strong>
                    </li>
                    <li class="style5">
                        <span class="icon fa-gem"></span>
                        <strong>References</strong> 
                    </li>
                </ul>

        </section>

        <!-- Writting Skills -->
        <section id="first" class="main special">
            <header class="major">
                <h2>Writting Skills</h2>
            </header>

        </section>

        <!-- Examples -->
        <section id="second" class="main special">
            <header class="major">
                <h2>Examples</h2>
                <p>Here are some examples for your reference.</p>
            </header>

            <p class="content"></p>
            <footer class="major">
                <ul class="actions special">
                    <li><a href="*" class="button">Learn More</a></li>
                </ul>
            </footer>
        </section>

        <!-- Common Mistakes -->
        <section id="cta" class="main special">
            <header class="major">
                <h2>Common Mistakes</h2>
                <p>Try to avoid these basic mistakes that may cost you a job.</p>
            </header>
            <ul class="features">
                <li>
                    <h3><strong>1. Poor formatting</strong></h3>
                    <p>It's important to help the reader get to the most relevant information as easily as possible when
                        thinking about how to format your CV.</p>
                    <p>Don't use anything smaller than size 10 font and make sure there's a good amount of white space.
                    </p>
                    <p>Focus on the content rather than choosing style like stars and bars on rating over substance.</p>
                </li>
                <li>
                    <h3><strong>2. Failing to tailor your application</strong></h3>
                    <p>Everything that you include must be completely tailored to the company and role that you're
                        applying for. This will make it easy for recruiters to see that you're the perfect candidate.
                    </p>
                    <p>Check specific requirements and remove irrelevant experiences to show that you are interested
                        enough in the role and willing to consider your application.</p>
                </li>
                <li>
                    <h3><strong>3. Spelling errors</strong></h3>
                    <p>Check everything in your CV. An error-free CV is vital in showcasing your precision and attention
                        to detail</p>
                    <p>A tip to see if there's a spelling or grammatical mistake is to temporarily change the font, size
                        and colour - it can trick your brain into thinking it's a new piece of writing, enabling you to
                        spot mistakes you might have previously missed.</p>
                </li>
                <li>

                    <h3><strong>4. Lying</strong></h3>
                    <p>The facts on your CV are easy to corroborate so never assume that recruiters won't make enquiries
                        to do so.</p>
                    <p>Spend time on selling your skills, qualifications and experiences rather than embellishing your
                        experience. </p>
                </li>
                <li>

                    <h3><strong>5. Lack of evidence and explaining 'why'</strong></h3>
                    <p>Don't just focus on the things you did, but also on the things you achieved.</p>
                    <p>You need to point out ways how you took previous duties and went beyond to make a difference.</p>
                    <p>You should elaborate further on the resulting skills you've gained and outline what you've taken
                        from the experience.</p>
                </li>
                <li>

                    <h3><strong>6. Ignoring gaps in your work history</strong></h3>
                    <p>Explain the gaps in employment history. It is fairly common and you can explain why you spent
                        away from work due to volunteer work, medical condition or redundancy.</p>
                    <p>If there is no space in CV, you can further explain the gaps in your experience in the cover
                        letter.</p>
                </li>
            </ul>
            <footer class="major">
                <ul class="actions special">
                    <li><a href="http://localhost:1337/cv/create" class="button primary">Get Started</a></li>
                </ul>
            </footer>
        </section>

    </div>
</div>