<!--
This is your default homepage.

-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<link rel="stylesheet" href="homepage.scss" />

<div>

    <div class="left">
        <div class="overlay">
            <h1>Welcome to online CV</h1>
            <p>Create your own CV, let others know you.</p>

        </div>
    </div>
    <form action="/user/login" method="post"  onsubmit="submitForm(this);return false" >
        <div class="col-9">
            <div class="right">
                <div class="field">
                    <div class="control">
                        <input class="input form-control" type="email" placeholder="Email" name="email" id="email"
                            required>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input form-control" type="password" placeholder="Password" name="password"
                            id="password" required>
                    </div>
                </div>
                <br>
                <div class="col-12 col-lg-6 form-group">
                    <button class="button" type="submit">
                        Login
                    </button>
                </div>
            </div>

            <p>Don't have an account? <a href="http://localhost:1337/user/register">Create Your Account</a> it takes
                less than a minute</p>

        </div>

    </form> <script>
        async function submitForm(formElem) {
    
          var response = await fetch(formElem.action, {
            method: formElem.method,
            body: new FormData(formElem),
          });
    
          if (response.ok) {
            var user = await response.json();
            alert("Welcome back, " + user.username);
            // if (user.role == 'admin') {
            //   location.assign('/admin')
            // }
            location.assign('/tips')
            // location.reload(true);
          } else if (response.status == 401) {
            var msg = await response.json();
            alert(msg);
          } else {
            alert(response.statusText);
          }
        };
      </script>
    </div>

</div>

</div>