<div class="main">
  <form action="/user/login" method="POST" onsubmit="submitForm(this);return false" data-alert200="Successfully login"
    data-alert401="Wrong email or password, please input again."
    data-callback200="location.assign(new URLSearchParams(window.location.search).get('r') || '/user');">
    <div>
      <div class="col-6 col-12-xsmall">
        <h2 class="main-heading1">User Login</h2>
        <div class="exampleFormControlInput1">
          <input class="input form-control" type="email" placeholder="Email" name="email" id="email" required>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>

        <div class="exampleFormControlInput1">
          <input class="input form-control" type="password" placeholder="Password" name="password" id="password"
            required>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <div class="col-12 col-lg-6 form-group" >
          <button class="button" type="submit">
            Login
          </button>
        </div>
      </div>

    </div>
  </form>

  <script>
    async function submitForm(formElem) {

      var response = await fetch(formElem.action, {
        method: formElem.method,
        body: new FormData(formElem),
      });

      if (response.ok) {
        var user = await response.json();
        alert("Welcome back, " + user.username);
        // if (user.role == 'admin') {
        //   location.assign('/admin')
        // }
        location.assign('/tips')
        // location.reload(true);
      } else if (response.status == 401) {
        var msg = await response.json();
        alert(msg);
      } else {
        alert(response.statusText);
      }
    };
  </script>
</div>