<!--create.ejs-->
<form action="/cv/create" method="post">

    <div class="field">
        <label class="label">Title of the CV</label>
        <div class="control">
            <input class="input" type="text" name="title" id="title" required>
        </div>
    </div>

   
   
    <div class="field">
        <label class="label">Link</label>
        <div class="control">
            <input class="input" type="text" name="link" id="link" required>
        </div>
    </div>
    
    <div class="field">
        <div class="control">
            <button class="button is-link" type="submit">Create CV</button>
        </div>
    </div>

</form>