<!--create.ejs-->
<form action="/cv/addContact/<%- cv.id %>" method="post">

    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" name="name" id="name" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Mobile Number</label>
        <div class="control">
            <input class="input" type="text" name="mobile" id="mobile" required>
        </div>
    </div>
    <div class="field">
        <label class="label">Email address</label>
        <div class="control">
            <input class="input" type="email" name="email" id="email" required>
        </div>
    </div>
    <div class="field">
        <label class="label">Fax</label>
        <div class="control">
            <input class="input" type="text" name="fax" id="fax" required>
        </div>
    </div>
    
    <div class="field">
        <div class="control">
            <button class="button is-link" type="submit">Save</button>
        </div>
    </div>

</form>